:root {
    --cor-primaria: #8A19D6;
    --cor-secundaria:#F6EBFF;
    --cor-terciaria:#9022D7;
    --cor-quartiaria: #F0F1F5; /* Definindo a cor primária como branco */
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Melhora o cálculo de dimensões */
}

body, html {
    height: 100%; /* Garante que o body e html ocupem toda a altura da tela */
    width: 100%; /* Garante que o body e html ocupem toda a largura da tela */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.padding-rx {
    height: 25%; /* 30% da altura do elemento pai */
    width: 100%; /* 100% da largura do elemento pai */
    background-color: var(--cor-primaria);
}
.bolinha-icone{
    height: 55px; /* 30% da altura do elemento pai */
    width: 55px;
    position: relative;
    left: 18px;
    top: -140px;
}
.nome-principal{
    position: relative;
    top: 30px;
}

/*Estetica da bolinha do icone*/
.bolinha-icone{
    background-color: #BA4DE3;
    border-radius: 50px;
    opacity: 70%;
}
.nome-cliente{
    position: relative;
    left: 18px;
    top: -130px;
    color: var(--cor-secundaria);
}

.icone-usuario{
    position: relative;
    top: -217px;
    height: 25px;
    left: 33px;
    width: 23px;
}
.icone-email{
    position: relative;
    top: -217px;
    height: 25px;
    left: 330px;
    width: 28px;
}
.icone-interrogacao{
    position: relative;
    top: -217px;
    height: 25px;
    left: 255px;
    width: 25px;
}
.icone-olho{
    position: relative;
    top: -217px;
    height: 25px;
    left: 172px;
    width: 30px;
}
.texto-conta{
    text-align: left;
    position: relative;
    padding: 13px;
    top: -90px;
}
.texto-saldo{
    text-align: left;
    position: relative;
    padding: 13px;
    top: -100px;
}

/*Circulos de formas de pagamentos*/
.circulo-acoes{
    height: 80px; /* 30% da altura do elemento pai */
    width: 80px;
    position: relative;
    border-radius: 45px;
    left: 18px;
    top: -60px;
    background-color: var(--cor-quartiaria);
}
.circulo-acoes1{
    background-color: var(--cor-quartiaria);
    height: 80px; /* 30% da altura do elemento pai */
    width: 80px;
    position: relative;
    border-radius: 45px;
    left: 120px;
    top: -140px;
}
.circulo-acoes2{
    background-color: var(--cor-quartiaria);
    height: 80px; /* 30% da altura do elemento pai */
    width: 80px;
    position: relative;
    border-radius: 45px;
    left: 220px;
    top: -217px;
}
.circulo-acoes3{
    background-color: var(--cor-quartiaria);
    height: 80px; /* 30% da altura do elemento pai */
    width: 80px;
    position: relative;
    border-radius: 45px;
    left: 317px;
    top: -294px;
}

/*Area de tranferencia*/

.icone-area-pix {
    display: block;
    height: 30px; /* 30% da altura do elemento pai */
    width: 30px;
    position: relative;
    top: 22px;
    left: 25px;
}

.icone-pagar{
    display: block;
    height: 28px; /* 30% da altura do elemento pai */
    width: 28px;
    position: relative;
    top: 24px;
    left: 25px;
}

.icone-transferir{
    display: block;
    height: 32px; /* 30% da altura do elemento pai */
    width: 33px;
    position: relative;
    top: 22px;
    left: 24px;
}

.icone-deposito{
    display: block;
    height: 32px; /* 30% da altura do elemento pai */
    width: 33px;
    position: relative;
    top: 22px;
    left: 24px;
}

/*Meus cartoes*/
.meus-cartoes{
    height: 60px;
    width: 400px;
    position: relative;
    top: -260px;
    left: 5px;
    h4{
        position: relative;
        left: 50px;
        top: 15px;
    }
}

.meus-cartoes{
   background-color: var(--cor-secundaria);
   border-radius: 28px;

}
.icone-meus-cartoes{
    height: 30px;
    position: relative;
    left: 10px;
    top: -20px;
}
/* texto de infomacoes*/

.texto-informacoes{
    height: 100px;
    width: 400px;
    position: relative;
    top: -200px;
    left: 5px;
    h4{
        position: relative;
        left: 50px;
        top: 15px;
    }
}
.texto-informacoes{
    position: relative;
    top: -230px;
    background-color: var(--cor-secundaria);
    border-radius: 28px;
    a{
        color: var(--cor-primaria);
        text-decoration: none;   
    }
    h4{
        position: relative;
        left: 20px;
        top: 20px;
    }
}
.linha{
    position: relative;
    top: -200px;
}
.linha{
    width: 500px;
    height: 5px;
    background-color: var(--cor-secundaria);
}

.cartao-credito{
    position: relative;
    top: -170px;
    left: 20px;
    img{
        position: relative;
        left: 5px;
        height: 30px;
        width: 24px;
    }
    h2{
        position: relative;
        top: 10px;
    }
    h4{
        position: relative;
        top: 15px;    
    }
    button{ 
        position: relative;
        top: 15px;   
        background-color: var(--cor-primaria);
        height: 50px;
        width: 200px;
        border-radius: 15px;
    }
}



